#PostgreSQL configuration data
# host, port, user, password - data needed to create the connection
# dbname - database name used (in case it would clash with your existing DB)
[database]
host = localhost
port = 5432
user = some_user
password = db_password
dbname = dns_scraper

#unbound_config - configuration for libunbound (optional)
#retries - number of retries on SERVFAIL
[dns]
#unbound_config = unbound.config
retries = 3
